.chipContainer{
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    height: 40px;
    width: 95%;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: .4rem;
    margin-bottom: .4rem;
}

.moreDetails{
  background-color: rgb(117, 117, 251);
  font-weight: 600;
  /* color: white; */
  padding: .3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

.background{
  background-color: black;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 50%;
}

.detailsContainer{
  height: 55%;
  width: 36%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 20%;
  left: 28%;
  border-radius: 10px;
  padding: 2rem;
}

.formContainer{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.formFields{
  display: flex;
  justify-content: space-between;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  margin-top: .5rem;
}

.labelText{
  font-size: 20px;
}

.inputFields{
  width: 52%;
  background-color: rgb(234, 237, 239);
  border: none;
  border-radius: 5px;
  height: 35px;
  padding-left: .8rem;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}